@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url("https://3.bp.blogspot.com/-OpxjFNvg5_c/U_4F8AxLgNI/AAAAAAAAJ98/dRKc28yAWFM/s1600/100_2226.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    padding: 20px 0;
    margin: 20px 0 ;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.title {
    font-family: 'Nunito Sans', sans-serif;
    margin: 10px 0;
}

h1 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
}

.about {
    padding: 20px;
    text-align: center;
}

.text {
    font-family: 'Kaisei Tokumin', serif;
    font-size: 18px;
}

.floresta {
    color: rgb(1, 75, 1);
}

.rio-negro {
    color: black;
}

.rio-solimoes{
    color: rgb(156, 156, 28);
}

.encontro {
    background: -webkit-linear-gradient(rgb(156, 156, 28), #333);
    background-clip: padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.video {
    display: flex;
    justify-content: center;
}

.curiositys, .links {
    text-align: center;
    margin: 30px 0;
    padding: 20px;

    background-color: rgba(11, 31, 11, 0.445);
    color: rgb(248, 248, 227);
    align-items: center;
}

.lista {
    margin: auto;
    display: inline-block;
}

ul {
    list-style-position: inside;
}

li {
    text-align: start;
    line-height: 28px;
}

footer {
    padding: 20px;
    background-color: honeydew;
}

.links > a {
    margin: 0 15px;
}

.icon {
    width: 50px;
    height: auto;
}

p + p {
    margin: 10px 0;
}