@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url("https://3.bp.blogspot.com/-OpxjFNvg5_c/U_4F8AxLgNI/AAAAAAAAJ98/dRKc28yAWFM/s1600/100_2226.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    padding: 1.25rem 0;
    margin: 1.25rem 0 ;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.title {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0.6rem 0;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
}

.about {
    padding: 1.25rem;
    text-align: center;
}

.text {
    font-family: 'Kaisei Tokumin', serif;
    font-size: 1.2rem;
}

.floresta {
    color: rgb(1, 75, 1);
}

.rio-negro {
    color: black;
}

.rio-solimoes{
    color: rgb(156, 156, 28);
}

.encontro {
    background: -webkit-linear-gradient(rgb(156, 156, 28), #333);
    background-clip: padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.video {
    display: flex;
    justify-content: center;
}

.curiositys, .links {
    text-align: center;
    margin: 30px 0;
    padding: 20px;

    background-color: rgba(11, 31, 11, 0.445);
    color: rgb(248, 248, 227);
    align-items: center;
}

.lista {
    margin: auto;
    display: inline-block;
}

ul {
    list-style-position: inside;
}

li {
    text-align: start;
    line-height: 1.75rem;
}

footer {
    padding: 1.25rem;
    background-color: honeydew;
}

.links > a {
    margin: 0 1rem;
}

.icon {
    width: 3rem;
    height: auto;
}

p + p {
    margin: 0.6rem 0;
}

@media (max-width: 1280px) {
    iframe {
        height: 432px;
        width: 768px;
    }    
    .title {
        margin: 0.3rem 0;
    }
    header {
        padding: 0.5rem;
        margin: 0.5rem;
    }

    .about {
        padding: 0.5rem 0.5rem 0.8rem;
    }

}

@media (max-width: 770px) {
    iframe {
        height: 180px;
        width: 320px;
    }   

}

